{erl_opts, [debug_info]}.
{deps, [
        {vernemq_dev, {git, "https://github.com/vernemq/vernemq_dev.git", {branch, "master"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [vmq_rest_crl]}
]}.
{relx, [{release, {release, "0.0.1"},
    [release]},

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
]}.